form {
    border: 1px solid black;

    display: none;
    flex-direction: column;

    margin: 30px auto;

    border-radius: 20px;
    padding: 20px;
    width: 175px;
    height: 175px;
}

form .submit {
    width: 100px;
    height: 25px;
    margin-top: -15px;
    border-radius: 5px;
    border: 1px solid black;
}

.game {
    visibility: hidden;

    margin-top: 50px;
}

.game .names {
    text-align: center;
    font-size: 35px;
}

.player1,
.player2 {
    text-align: center;
    margin: 10px;
}

.outter-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter-box .player1result,
.outter-box .player2result {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #000;
    font-size: 33px;
    width: 65px;
    height: 65px;
}

.outter-box .player1result {
    margin-right: 40px;
}

.outter-box .player2result {
    margin-left: 40px;
}

.box {
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    

    margin-top: 30px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.box .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.row div {
    border: 1px solid #000;

}

.result {
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
}

.restart-container,
.play-container,
.submit-container {
    margin-top: 15px;
    text-align: center;
}

.restart,
.play,
.winner {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;

    font-size: 18px;
}

.restart,
.winner {
    margin-top: 10px;
    width: 150px;
}



